@model ArtProject.Models.Art

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center text-uppercase" style="margin-top: 40px !important;">@Html.DisplayFor(model => model.Title)</h1>
<img class="img-fluid shadow p-3 mb-5 bg-white" src="@("~/images/"+Model.ImageName)" asp-append-version="true"/>

<div class="text-center">
    <hr />
    <h3 class="font-weight-light" >By @Html.DisplayFor(model => model.Artist)</h3>
    <p>Close to @Html.DisplayFor(model => model.Date)</p>
    <p>Technique: @Html.DisplayFor(model => model.Technique)</p>
    <p>@Html.DisplayFor(model => model.Movement)</p>
    <p>Approximade price: @Html.DisplayFor(model => model.Price)</p>
    <h4 class="font-weight-bold text-uppercase">Background Story</h4>
    <p>@Html.DisplayFor(model => model.History)</p>
    <hr />
</div>
<div class="text-center" style="margin: 0 50px 0 20px !important;">
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div>
